<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.wne">
     <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION"/>
    <application android:icon="@drawable/icon">
        <activity android:name=".wne" android:label="@string/app_name">
            
        </activity>
    <activity android:name="UserTag" android:label="@string/app_name">
</activity><activity android:name="UserTagList" android:label="@string/app_name" android:icon="@drawable/icon">
</activity><activity android:label="@string/restaurant" android:name="Restaurant">
</activity><activity android:label="@string/map" android:name="MapLocator">
</activity><activity android:name="SimMapa" android:label="@string/map_title">
</activity><activity android:name=".view.UserProfileView" android:label="@string/title">
</activity><activity android:name=".view.UserProfileCreate">
</activity><activity android:name=".view.FavouritePlacesView">
</activity><activity android:name="WneMapView">
</activity></application>
</manifest> 